# Node / JS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.log

# Env
.env
.env.local
.env.*.local

# Next.js / builds
.next/
out/
dist/
build/
coverage/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
